<div class="hover-scroll-y border border-right border-secondary">
  <div class="card">
    <div class="card-body">
      <div class="card-header">Brands</div>
      <div class="card-body">
        <label> <input class="form-checkbox mx-2" type="checkbox" />ANKER</label>        
        <label> <input class="form-checkbox mx-2" type="checkbox" />AWE</label>        
        <label> <input class="form-checkbox mx-2" type="checkbox" />GEEOO</label>        
        <label> <input class="form-checkbox mx-2" type="checkbox" />HAYLOU</label>        
        <label> <input class="form-checkbox mx-2" type="checkbox" />HOCO</label>                    
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <div class="card-header">EARPHONE</div>
      <div class="card-body">
        <label> <input class="form-checkbox mx-2" type="checkbox" />NECBAND</label>        
        <label> <input class="form-checkbox mx-2" type="checkbox" />TWS</label>        
        <label> <input class="form-checkbox mx-2" type="checkbox" />WIRED EARPHONE</label>                           
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <div class="card-header">PRODUCT TYPE</div>
      <div class="card-body">
        <label> <input class="form-checkbox mx-2" type="checkbox" />LIFESTYLE</label>        
        <label> <input class="form-checkbox mx-2" type="checkbox" />MOBILE PHONE ACCESSORIES</label>                           
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-body">
      <div class="card-header">SELLER</div>
      <div class="card-body">
        <label> <input class="form-checkbox mx-2" type="checkbox" />DXTEL</label>        
        <label> <input class="form-checkbox mx-2" type="checkbox" />GADGET A2ZBD</label>        
        <label> <input class="form-checkbox mx-2" type="checkbox" />RIO INTERNATIONAL</label>                              
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-body">
      <div class="card-header">WARRANTY PERIOD</div>
      <div class="card-body">
        <label> <input class="form-checkbox mx-2" type="checkbox" />3 DAYS</label>        
        <label> <input class="form-checkbox mx-2" type="checkbox" />1 MONTH</label>        
        <label> <input class="form-checkbox mx-2" type="checkbox" />1 YEAR</label>                              
        <label> <input class="form-checkbox mx-2" type="checkbox" />NO WARRANTY</label>                              
      </div>
    </div>
  </div>
</div>
