<div class="overflow-scroll border border-right border-secondary" style="height: 600px">
  <div class="card">
    <div class="card-body">
      <div class="card-header">Categories</div>
      <div class="card-body">
        {% for category in categories %}
        <label class="d-block m-auto">
          <input
            name="category"
            class="form-checkbox mx-2"
            type="checkbox"
            value="{{category.id}}"
          />{{category.name}}</label
        >
        {% endfor %}
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-body">
      <div class="card-header">Brands</div>
      <div class="card-body">
        {% for brand in brands %}
        <label class="d-block m-auto">
          <input name="brand" class="form-checkbox mx-2" type="checkbox" value="{{brand.id}}" />{{brand.name}}</label
        >
        {% endfor %}
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-body">
      <div class="card-header">SELLER</div>
      <div class="card-body">
        {% for seller in sellers %}
        <label class="d-block m-auto">
          <input name="seller" class="form-checkbox mx-2" type="checkbox" value="{{seller.id}}" />{{seller.name}}</label
        >
        {% endfor %}
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-body">
      <div class="card-header">WARRANTY</div>
      <div class="card-body">
        {% for warranty in warranties %}
        <label class="d-block m-auto">
          <input
            name="warranty"
            class="form-checkbox mx-2"
            type="checkbox"
            value="{{warranty.id}}"
          />{{warranty.name}}</label
        >
        {% endfor %}
      </div>
    </div>
  </div>
</div>

<script>
  $(document).ready(function () {
    $(".form-checkbox").on("click", function () {      
      var categoryCheckboxes = document.getElementsByName("category");
      var brandCheckboxes = document.getElementsByName("brand");
      var sellerCheckboxes = document.getElementsByName("seller");
      var warrantyCheckboxes = document.getElementsByName("warranty");
      var selectedCategoryIds = [];
      var selectedBrandIds = [];
      var selectedSellerIds = [];
      var selectedWarrantyIds = [];

      // Get selected Category IDs
      for (var i = 0; i < categoryCheckboxes.length; i++) {
        if (categoryCheckboxes[i].checked) {
          selectedCategoryIds.push(categoryCheckboxes[i].value);
        }
      }

      // Get selected brand IDs
      for (var i = 0; i < brandCheckboxes.length; i++) {
        if (brandCheckboxes[i].checked) {
          selectedBrandIds.push(brandCheckboxes[i].value);
        }
      }

      // Get selected seller IDs
      for (var i = 0; i < sellerCheckboxes.length; i++) {
        if (sellerCheckboxes[i].checked) {
          selectedSellerIds.push(sellerCheckboxes[i].value);
        }
      }

      // Get selected warranty IDs
      for (var i = 0; i < warrantyCheckboxes.length; i++) {
        if (warrantyCheckboxes[i].checked) {
          selectedWarrantyIds.push(warrantyCheckboxes[i].value);
        }
      }      

      $.ajax({
        url: "/ecommerce/checkbox-filter/",
        dataType: "json",
        method: "get",
        data: { 
          category_ids:selectedCategoryIds,
          brand_ids: selectedBrandIds,
          seller_ids:selectedSellerIds,
          warranty_ids:selectedWarrantyIds,
         },

        success: function (data) {
          $("#products_container").html(data.updated_list);
        },
      });
    });
  });
</script>
