<div class="col-12">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Navbar</a>

    <div class="d-flex justify-content-between collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdown"
            role="button"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            Dropdown
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#">Disabled</a>
        </li>
      </ul>

      <div class="input-group" style="width: 30%">
        <input id='product_search' class="form-control" type="text" style="width: 70%" />
        <select id="category_selector" class="form-select" style="width: 30%" onchange="category_change()">
          {% for category in categories %}
          <option value="{{category.id}}">{{category.name}}</option>
          {% endfor %}
        </select>
      </div>
      <form class="form">
        <div class="d-flex">
          <input id="all_product_search" class="form-control" type="search" placeholder="Search" aria-label="Search" />
          <button class="btn btn-outline-success my-2 my-sm-0" disabled>Search</button>
        </div>
      </form>
    </div>
  </nav>
</div>

<script>
  function category_change() {
    var selectElement = document.getElementById("category_selector");
    var selectedCategoryId = selectElement.value;
    
    $.ajax({
      url: "/ecommerce/category/" + selectedCategoryId + "/",
      dataType: "json",
      method: "get",

      beforeSend: function () {
        $("#products_container").html(
          '<div class="d-flex justify-content-center align-align-content-center"><div class="spinner-border text-primary" role="status"><span class="visually-hidden">Loading...</span></div></div>'
        );
      },
      success: function (data) {
        $("#products_container").html(data.updated_list);
      },
    });
  }

  var searchInput = document.getElementById("product_search");
  searchInput.addEventListener("keyup", (e) => {
    e.preventDefault();
    var selectElement = document.getElementById("category_selector");
    var selectedCategoryId = selectElement.value;
    var searchText = e.target.value;
    $.ajax({
      url: "/ecommerce/category/" + selectedCategoryId + "/products/",
      dataType: "json",
      method: "get",
      data: { search_text: searchText },

      success: function (data) {
        $("#products_container").html(data.updated_list);
      },
    });
  });


  var all_product_search = document.getElementById("all_product_search");
  all_product_search.addEventListener("keyup", (e) => {
    e.preventDefault();  
    var searchText = e.target.value;
    $.ajax({
      url: "/ecommerce/products",
      dataType: "json",
      method: "get",
      data: { search_text: searchText },

      success: function (data) {
        $("#products_container").html(data.updated_list);
      },
    });
  });



</script>
