{% for product in products %} 
<div style="width: 25%" class="p-1 col-4 col-sm-4 col-md-3 col-lg-2 my_class_for_add_product_to_card">
  <div class="border rounded-3">
    <div class="d-flex flex-center rounded-3 mb-3 p-4" style="height: 100px; width: 100%">
      {% for image in product.image.all %}           
      <img class="mw-100" src="{{image.product_image.url}}" alt="{{image.name}}" style="display:block;margin:0 auto;"/>
      {% endfor %}
    </div>

    <div class="mb-1 fs--1 text-center">
      <h5>{{product.name}}</h5>
      <h5>{{product.category.name}}</h5>     
      <h6>{{product.sales_price}}</h6>     
    </div>
  </div>
</div>

{% endfor %}